body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    max-width: 550px;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.5em;
}

    body > footer {
        font-size: 0.813em;   
    }

        body > footer ul {
            margin: 2em 0;  
            padding: 0;
            list-style: none;
        }

            body > footer ul li {
                display: inline-block;
            }

    body > header a {
        display: inline-block;
        margin: 0.5em 0 1.5em 0;
        font-size: 2em;
        color: rgb(0, 128, 255);
        text-decoration: none;
    }
